.spinner {
    margin-left: 25%;
    margin: 20px;
    width: auto;
    height: auto;
}

@keyframes spinPic {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}

.image{
    width: 200px;
    height: 200px;
    animation-name: spinPic;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}