.nameCard {
    position: relative;
    width: 300px;
    height: auto;
    text-align: center;
    background-color: rgb(247, 247, 247);
    border: solid 5px rgb(105, 105, 105);
    border-radius: 7px;
    float: left;
    text-justify: auto;
    box-shadow: 5px 10px 18px #888888;
}

.image {
    position: relative;
    width: 200px;
    height: 200px;
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
}

.attr {
    float: left;
    padding-left: 45px;
}
